section.about#about
	.about__photo
		img(src="static/img/l.jpg", alt="")
	.about__desc
		h3.about__title Нам доверяют звезды ТВ!
		h2.about__sub-title О компании
		ul.about__list
			li Безупречно
			li Безопасно
			li Качественно
		p.about__text Студия Diamond Tattoo Studio в Москве приглашает вас на люксовый, безболезненный, безопасный, максимально натуральный и стойкий перманентный макияж. <br> Лидия Садчикова - руководитель студии с опытом работы более 8 лет, имеет высшее медицинское образование. участник чемпионатов, призер, преподаватель, член Лиги профессионалов, опыт работы Лидии и отзывы клиентов говорят сами за себя. Нам доверяют даже звезды ТВ!

ul.about__futures
	li <strong>8+</strong> лет работы
	li <strong>30+</strong> учеников, которые<br> прошли обучение
	li <strong>10 000+</strong> успешных работ