section.education#education
	.education__wrap
		.education__inner
			h2.education__title Обучение технике татуажа <br> и повышение квалификации от Лидии Садчиковой
			h3.education__sub-title Здесь подзаголовок
			p.education__text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque enim culpa quo pariatur, at nisi earum laboriosam facilis sint hic dignissimos repudiandae fuga et! Maiores ipsam provident esse nobis vel? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga sit debitis, expedita a repudiandae ab harum labore reprehenderit temporibus, impedit quaerat aut, et voluptate veniam nostrum ex consequatur, deleniti sint.
		.education__pic
			img.education__pic--main(src="/static/img/edu-pic.jpg", alt="")

section.education__items
	.education__items-inner
		.education__items-pic1
		.education__items-desc.right
			h3 Полный базовый курс
			ul
				li Перманентный макияж всех зон
				li Удаление тату ремувером Off и Gold 
				li Курс BB Glow в подарок!!!
			span Стоимость курса: <strong>100 000 р.</strong>
			a.education__items-btn(href="") Оставить заявку
	.education__items-inner
		.education__items-desc
			h3 Перманентный макияж бровей. <br> Базовый курс
			ul
				li Перманентный макияж бровей
				li Удаление ремувером
			span Стоимость курса: <strong>50 000 р.</strong>
			a.education__items-btn(href="") Оставить заявку
		.education__items-pic2
	.education__items-inner
		.education__items-pic3
		.education__items-desc.right
			h3 Мастер-классы по зонам
			ul
				li Зона брови
				li Зона веки 
				li Зона губы
			span Стоимость 1 зоны: <strong>20 000 р.</strong>
			a.education__items-btn(href="") Оставить заявку
	.education__items-inner
		.education__items-desc
			h3 Курс по удалению татуажа <br> и тату ремувером
			ul
				li Удаление ремувером Tattoo Off <strong>12 000р</strong>
				li Удаление ремувером Gold <strong>5 000р</strong>
				li Вместе дешевле! Удаление 2 в 1 <strong>15 000р</strong>
			a.education__items-btn(href="") Оставить заявку
		.education__items-pic4
	.education__items-inner
		.education__items-pic5
		.education__items-desc.right
			h3 Курс BB Glow
			ul
				li Обучение технике BB Glow
				li Дермапен и сыворотка в подарок!!!
			span Стоимость курса: <strong>уточняйте</strong>
			a.education__items-btn(href="") Оставить заявку

