section.faq
	h2.faq__title Вопросы и ответы
	.panel
		.panel-heading
			span.panel-title Что такое перманентный макияж?
		.panel-collapse
				p.panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis eum quaerat, ipsam quia maiores molestias delectus, nostrum quos optio commodi et quis dignissimos, similique recusandae culpa eos voluptatem vero nobis.
	.panel
		.panel-heading
			span.panel-title Как и через сколько времени заживет перманентный макияж?
		.panel-collapse
				p.panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis eum quaerat, ipsam quia maiores molestias delectus, nostrum quos optio commodi et quis dignissimos, similique recusandae culpa eos voluptatem vero nobis.
	.panel
		.panel-heading
			span.panel-title Сколько держится перманентный макияж?
		.panel-collapse
				p.panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis eum quaerat, ipsam quia maiores molestias delectus, nostrum quos optio commodi et quis dignissimos, similique recusandae culpa eos voluptatem vero nobis.
	.panel
		.panel-heading
			span.panel-title Как правильно ухаживать за зоной Перманентного Макияжа?
		.panel-collapse
				p.panel-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis eum quaerat, ipsam quia maiores molestias delectus, nostrum quos optio commodi et quis dignissimos, similique recusandae culpa eos voluptatem vero nobis.