section.features
	.features__wrapper
		.features__img__wrap
			img.features__img(src="/static/img/logo2.png", alt="")
		h2.features__title Основные преимущества <br>перманентного макияжа
		ul.features__list
			li.features__item1 Реальная альтернатива «люксовым» продуктам для макияжа. <br> Татуаж выглядит очень естественно и «дорого»
			li.features__item2 Создание яркого образа без необходимости ежедневного <br> макияжа с использованием косметики
			li.features__item3 Коррекция цвета и формы бровей 
			li.features__item4 Выразительный взгляд с помощью стрелок в различных <br> техниках и заполнения межресничного пространства.
			li.features__item5 “Идеальные”губы - коррекция ассиметрии, <br> акцент на контуре, изменение цвета губ.
	.features__pic-wrap
		img.features__pic(src="static/img/fpic.jpg", alt="")