section.wrapper.features
	img(src="/static/img/logo2.png", alt="")
	h2 Основные преимущества перманентного макияжа
	ul
		li Реальная альтернатива «люксовым» продуктам для макияжа. Татуаж выглядит очень естественно и «дорого»
		li Создание яркого образа без необходимости ежедневного макияжа с использованием косметики
		li Коррекция цвета и формы бровей 
		li Выразительный взгляд с помощью стрелок в различных техниках и заполнения межресничного пространства.
		li “Идеальные”губы - коррекция ассиметрии, акцент на контуре, изменение цвета губ.