section.wrapper.form
	h2 Спешите записаться на процедуру перманентного макияжа <small class="hero__title--price">со скидкой 20%</small>
	form
		input(type="text", placeholder='Ваше имя*')
		input(type="text", placeholder='Номер телефона*' )
		button Хочу записаться