header.header
	img.header__logo(src="/static/img/logo.png", alt="Diamod tatoo")
	span.header__adress г. Москва, ул. 2-я Тверская Ямская, д. 18 <br> “Деловой Центр”, офис 606-607
	span.header__adress--info ст.м. Маяковская, <br> От метро “0” минут!
	.header__phone
		a.header__phone--number(href="#") +7 968 49 49 52
		a.header__phone--callback(href="#") Заказать обратный звонок
nav.menu
	ul.menu__list
		li: a(href="#") О нас
		li: a(href="#") Наши работы
		li: a(href="#") Услуги
		li: a(href="#") Вопросы и ответы
		li: a(href="#") Обучение
		li: a(href="#") Контакты
	ul.menu__soc
		li: a.menu__soc--inst(href="https://facebook.com") 
		li: a.menu__soc--fb(href="https://vk.com") 
		li: a.menu__soc--vk(href="https://vk.com") 