.hero
	.hero__desc
		h1.hero__title
			span.hero__title--sub Перманентный макияж 
			b безупречного качества в Москве 
			span.hero__title--price от 3000 р.
		p.hero__text Работаем профессионально со всеми и индивидуально с каждым
		ul.hero__items
			li.hero__item.hero__ico1 Идеальный <br> макияж на 2 года
			li.hero__item.hero__ico2 Сертифиированное <br>обордование
			li.hero__item.hero__ico3 Новейшие <br> технологии
		a.hero__btn.btn(href="#") Записаться на консультацию