section.our-works
	.our-works__slider
		ul.slider__tabs
			li.slider__tabs--active Брови
			li Глаза
			li Губы
		.slider
			img(src="/static/img/works.jpg", alt="")
	.our-works__desc
		h3.our-works__title Косметология высшего уровня с заботой о вашем здоровье
		h2.our-works__sub-title Наши работы
		p.our-works__text Перманентный макияж от Diamond Tattoo Studio — процедура, выполняемая мастерами с медицинским образованием, которая позволяет получить все преимущества декоративного макияжа на несколько лет. Мы подберем для вас идеальное колористическое и декоративное решение. Поэтому перед тем, как определиться с техникой нанесения, учитывайте советы и рекомендации мастера.