section.our-works#works
	.tabs
		ul.our-works__tabs
			li.active Брови
			li Глаза
			li Губы
			.our-works__wrapper.active
				.our-works__slider
					.slider
						img(src="/static/img/w.jpg", alt="")
						img(src="/static/img/works.jpg", alt="")
						img(src="/static/img/works.jpg", alt="")
			//- .our-works__wrapper
			//- 	.our-works__slider
			//- 		.slider_2
			//- 			img(src="/static/img/w.jpg", alt="")
			//- 			img(src="/static/img/works.jpg", alt="")
			//- 			img(src="/static/img/works.jpg", alt="")
			//- .our-works__wrapper
			//- 	.our-works__slider
			//- 		.slider_3
			//- 			img(src="/static/img/works.jpg", alt="")
			//- 			img(src="/static/img/w.jpg", alt="")
			//- 			img(src="/static/img/works.jpg", alt="")
	.our-works__inner
		.our-works__desc
				h3.our-works__title Косметология высшего уровня с заботой о вашем здоровье
				h2.our-works__sub-title Наши работы
				p.our-works__text Перманентный макияж от Diamond Tattoo Studio — процедура, выполняемая мастерами с медицинским образованием, которая позволяет получить все преимущества декоративного макияжа на несколько лет. Мы подберем для вас идеальное колористическое и декоративное решение. Поэтому перед тем, как определиться с техникой нанесения, учитывайте советы и рекомендации мастера.