section.price
	h2.price__title Стоимость наших услуг
	.price__wrapper
		.price__item
			span Перманентный макияж бровей
			span.gold от 3000 до 10000 р.
		.price__item
			span Перманентный макияж бровей
			span.gold от 3000 до 10000 р.
		.price__item
			span Перманентный макияж бровей
			span.gold от 3000 до 10000 р.
		.price__item
			span Перманентный макияж бровей
			span.gold от 3000 до 10000 р.
		.price__item
			span Перманентный макияж бровей
			span.gold от 3000 до 10000 р.
		.price__item
			span Перманентный макияж бровей
			span.gold от 3000 до 10000 р.