section.sert
	h2.sert__title Наше качество гарантировано
	.sert__slider
		.slider2
			img(src="/static/img/sert/1.jpg", alt="")
			img(src="/static/img/sert/2.jpg", alt="")
			img(src="/static/img/sert/3.jpg", alt="")
			img(src="/static/img/sert/4.jpg", alt="")
			img(src="/static/img/sert/5.jpg", alt="")
			img(src="/static/img/sert/6.jpg", alt="")
			img(src="/static/img/sert/1.jpg", alt="")
			img(src="/static/img/sert/2.jpg", alt="")
			img(src="/static/img/sert/3.jpg", alt="")
			img(src="/static/img/sert/4.jpg", alt="")
			img(src="/static/img/sert/5.jpg", alt="")
			img(src="/static/img/sert/6.jpg", alt="")