section.wrapper.services
	h2.services__title--main Наши услуги
	.services__items
		.services__text
			h3.services__title Татуаж бровей
			ul.services__list
				li Теневая растушевка
				li Пиксельное напыление
				li Имитация натуральных волосков
				li Пудровые брови
			a.btn(href="") Бесплтаная консультация
		img.services__pic(src="/static/img/service.png", alt="")
	.services__items
		img.services__pic(src="/static/img/service.png", alt="")
		.services__text.right
			h3.services__title Татуаж бровей
			ul.services__list
				li Теневая растушевка
				li Пиксельное напыление
				li Имитация натуральных волосков
				li Пудровые брови
			a.btn(href="") Бесплтаная консультация

	.services__items
		.services__text
			h3.services__title Татуаж бровей
			ul.services__list
				li Теневая растушевка
				li Пиксельное напыление
				li Имитация натуральных волосков
				li Пудровые брови
			a.btn(href="") Бесплтаная консультация
		img.services__pic(src="/static/img/service.png", alt="")
	.services__items
		img.services__pic(src="/static/img/service.png", alt="")
		.services__text.right
			h3.services__title Татуаж бровей
			ul.services__list
				li Теневая растушевка
				li Пиксельное напыление
				li Имитация натуральных волосков
				li Пудровые брови
			a.btn(href="") Бесплтаная консультация
	.services__items
		.services__text
			h3.services__title Татуаж бровей
			ul.services__list
				li Теневая растушевка
				li Пиксельное напыление
				li Имитация натуральных волосков
				li Пудровые брови
			a.btn(href="") Бесплтаная консультация
		img.services__pic(src="/static/img/service.png", alt="")