section.wrapper.services
	h2.services__title--main Наши услуги
	.services__items
		.services__text
			.services__text--wrapper
				h3.services__title Татуаж бровей
				ul.services__list
					li <b>Пиксельное напыление<b> - создает эффект неброского дневного макияжа
					li <b>Имитация волосков</b> - зрительно делает брови более густыми.
					li <b>Теневая растушевка</b> - эффекта брови, подведенной карандашом
					li <b>Пудровые брови</b> - максимально мягкий, естественный эффект
				a.btn(href="") Бесплтаная консультация
		.services__pic.services__pic--item1
	.services__items
		.services__pic.services__pic--item2
		.services__text
			.services__text--wrapper
				h3.services__title Перманентный макияж век
				ul.services__list
					li Классическая стрелочка - создает эффект подкрашивания лайнером
					li Мягкая стрелка - придает взгляду глубину и выразительность
					li Стрелка с растушевкой - готовый макияж, с использованием цвета
					li Заполнение межресничного пространства - зрительно делает ресницы гуще
				a.btn(href="") Бесплтаная консультация
	.services__items
		.services__text
			.services__text--wrapper
				h3.services__title Перманентный макияж губ
				ul.services__list
					li Контрур и контур с растушевкой - позволит создать идеальную форму ваших губ
					li Плотное заполнение - имитирует эффект стойкой помады
					li Акварельная техника - позволяет создать нежный и естественный образ
					li 3D - cложная техника для ярко выраженной объемности губ
					li Пудровые губы - позволяет добиться уникального визуального эффекта
				a.btn(href="") Бесплтаная консультация
		.services__pic.services__pic--item3
	.services__items
		.services__pic.services__pic--item4
		.services__text
			.services__text--wrapper
				h3.services__title Перманентный макияж ареол
				ul.services__list
					li Одна из самых сложных процедур,  которая требует навыков и опыта мастера
					li Показан женщинам, у которых были оперативные вмешательства на груди
					li Позволяет скрыть заметную асимметрию и подкорректировать форму ареолы
					li Позволяет сделать ареолы груди более выразительными и сексуальными
				a.btn(href="") Бесплтаная консультация
	.services__items
		.services__text
			.services__text--wrapper
				h3.services__title Удаление татуажа и татуировок
				ul.services__list
					li Лазерное удаление некачественного перманентного макияжа
					li Лазерное удаление татуировок
					li Удаление перманентного макияжа или  татуировок с помощью  ремувера
				a.btn(href="") Бесплтаная консультация
		.services__pic.services__pic--item5
	.services__items
		.services__pic.services__pic--item6
		.services__text
			.services__text--wrapper
				h3.services__title BB Glow - эффект тонального крема
				ul.services__list
					li Эффект лёгкого тонального крема на год
					li Осветление пигментации (Следы постакнэ/ Пигментные пятна/ Купероз/ Веснуш­ки)
					li Разглаживание мелких мимических морщинок
					li Увлажнение и обновление кожи
					li Камуфлирование тёмных кругов под глазами
				a.btn(href="") Бесплтаная консультация
	.services__items
		.services__text.services__items--last
			.services__text--wrapper
				h3.services__title Карбоновый пиллинг
				ul.services__list
					li Очищение кожи, улучшение цвета и выравнивание тона
					li Уничтожение патогенной микрофлоры
					li Синтез коллагеновых и эластичных волокон
					li Стерилизующее и бактерицидное действие на кожу, профилактика акне
					li Нормализация липидного баланса кожи
					li Активация регенерации клеток глубоких слоёв кожи
				a.btn(href="") Бесплтаная консультация
		.services__pic.services__pic--item7