<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
	title Главная старница
	link(rel="stylesheet", href="static/css/main.css")
	link(rel="stylesheet", href="static/fonts/Gotham Cyrillic/font.css")
body
	.wrapper
		include .././inc/header.pug
		include .././inc/hero.pug
		include .././inc/about.pug
		section.master
		include .././inc/our-works.pug
	
	include .././inc/features.pug
	include .././inc/form.pug
	include .././inc/services.pug
	section.master
	include .././inc/form.pug
	include .././inc/footer.pug





