.education
	&__wrap
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
	&__inner
		width 80%
	&__title
		padding-top 45px
		font-size 44px
		line-height 46px
		font-family 'Gotham Pro'
		position relative
		&:before
			content ''
			background #af8554
			width 120px
			height 3px
			position absolute
			bottom -30px
	&__sub-title
		padding-top 22px
		font-size 24px
		line-height 22px
	&__pic
		& img
			width 470px
			height auto
	&__text
		padding-right 120px