.education
	&__wrap
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
	&__inner
		width 80%
	&__title
		padding-top 45px
		font-size 44px
		line-height 46px
		font-family 'Gotham Pro'
		position relative
		&:before
			content ''
			background #af8554
			width 120px
			height 3px
			position absolute
			bottom -30px
	&__sub-title
		padding-top 22px
		font-size 24px
		line-height 22px
	&__pic
		& img
			width 470px
			height auto
	&__text
		padding-right 120px
	&__items
		&-inner
			display -webkit-flex
			display -moz-flex
			display -ms-flex
			display -o-flex
			display flex
			justify-content: space-between
		&-pic
			background url(../img/edu-item1.jpg)
			width: 586px
			height: 321px
		&-desc
			padding-left 65px
			padding-top 30px
		& h3
			color #139b8b
			font-size 24px
			line-height 22px
			margin-bottom 16px
			font-family 'Gotham Pro'
		& li
			font-size 18px
			line-height 22px
			padding-bottom 10px
			padding-left 16px
			font-weight normal
			color #4f5656
		& span
			display block
			padding-top 10px
			padding-bottom 20px
			line-height 22px
			font-size 18px
			color #c5a96f
		&-btn
			text-transform uppercase
			display inline-block
			padding 12px 60px
			border 3px solid #4eb4a8
			color #4eb4a8
			border-radius 5px
			&:hover
				color #fff
				background #4eb4a8
.right
	padding-right: 201px
	padding-top: 15px