.faq
	margin-bottom 120px
	margin-left 130px
	margin-right 130px
	&__title
		font-family 'Gotham Pro'
		margin-bottom 52px
		text-align center
		margin-bottom 60px
		font-size 44px
		line-height 22px
.slider2 img
	margin-right 30px


.panel
	background url(../img/faq.png) 0px 0px no-repeat 
.panel-heading.in aafter
	transform rotate(180deg)

.panel-collapse
	display none
	padding-bottom 20px

.panel-title
	font-size 24px
	line-height 22px
	color #4f5656

.panel-heading
	background-color #f9f9f9
	padding 20px 100px
	margin-bottom 10px

.panel-body
	padding 10px 95px