.features
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	&__wrapper
		width 80%
	&__img
		margin 0
	&__pic-wrap
		margin-right 50px
		margin-top -60px
	&__title
		font-family 'Gotham Pro'
		margin-top -10px
		font-size 40px
		line-height 48px
		position relative
		&:after
			content: '  ';
			background: #af8554;
			width: 170px;
			height: 3px;
			position: absolute;
			left 0
			bottom -20px
	&__list
		padding-top 14px
	& li
		padding-left 66px
		padding-bottom 8px
		font-size 18px
		line-height 24px
	&__item1
		background url(../img/item1.png) 0px 0px no-repeat
	&__item2
		background url(../img/item2.png) 0px 5px no-repeat
	&__item3
		background url(../img/item3.png) 0px 7px no-repeat
	&__item4
		background url(../img/item4.png) 0px 4px no-repeat
	&__item5
		background url(../img/item5.png) 0px 0px no-repeat