@font-face {
    font-family: 'Proxima Nova';
    src: url('../fonts/ProximaNova-Regular.eot');
    src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Regular.woff') format('woff'),
         url('../fonts/ProximaNova-Regular.ttf') format('truetype'),
         url('../fonts/ProximaNova-Regular.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Proxima Nova Th';
    src: url('../fonts/ProximaNova-Extrabld.eot');
    src: url('../fonts/ProximaNova-Extrabld.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Extrabld.woff') format('woff'),
         url('../fonts/ProximaNova-Extrabld.ttf') format('truetype'),
         url('../fonts/ProximaNova-Extrabld.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Proxima Nova Sm';
    src: url('../fonts/ProximaNova-Semibold.eot');
    src: url('../fonts/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ProximaNova-Semibold.woff') format('woff'),
         url('../fonts/ProximaNova-Semibold.ttf') format('truetype'),
         url('../fonts/ProximaNova-Semibold.svg#webfont') format('svg');
}