.map
	position relative

.contact
	position absolute
	left 0px
	background #f9f9f9
	padding 60px 60px 70px 60px
	&__title
		font-family 'Gotham Pro'
		font-size 44px
		line-height 22px
		color #4f5656
	& img
		max-width 175px
		height auto
	& span
		display block
	&__sub-title
		color #149b8b
		margin-bottom 12px
		font-size 18px
		font-family 'Proxima Nova Sm'
	&__info
		color #212121
		margin-bottom 8px
	&__btn-info
		margin-bottom 20px
		
.nomer
	margin-bottom 30px
.place-desc-large
	display none !important

.foter__text
	text-align center