.header
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	align-items flex-end
	&__logo
		padding-top 7px
	&__adress
		background: url(../img/gtag.png) 0px 7px no-repeat
		padding: 0px 0px 0px 40px;
		&--info
			background: url(../img/subway.png) 0px 7px no-repeat
			padding: 0px 0px 0px 45px;
	&__phone
		&--number 
			text-decoration none
			font-size 24px
			font-family 'Proxima Nova Th'
			color #414646
		&--callback
			display block
			font-weight bold
			text-decoration none
			color #b5995e

.menu
	display -webkit-flex
	display -moz-flex
	display -ms-flex
	display -o-flex
	display flex
	justify-content space-between
	margin-top 12px
	padding-top 6px
	box-shadow 0 0 10px rgba(0,0,0,0.3)
	&__list
		& li
			display inline-block
			margin-left: 49px;
		& a
			color #343434
			
			&:hover
				color #3aaa9b
				transition .3s
				border-bottom 1px solid #3aaa9b 
	&__soc
		margin-right 6px
		& li
			display inline-block
			margin-right 15px
		& a
			display inline-block
			border-radius 24px
			width 23px
			height 23px
		&--fb
			background url(../img/fb.png)
		&--vk
			background url(../img/vk.png)
		&--inst
			background url(../img/inst.png)

.btn
	display inline-block
	text-align center
	font-family: 'Proxima Nova Sm'
	text-transform uppercase
	color #fff
	font-size 16px
	padding 12px 18px
	border 3px solid #3aaa9b
	border-radius 5px
	background #3aaa9b
	background linear-gradient(145deg, #41aea1, #0d998d)
	
	&:hover
		color #3aaa9b
		background #fff
		border 3px solid #3aaa9b
		transition .5s
	
@media (max-width: 760px)

	.header
		flex-direction column
		align-items center
		padding 10px
		
	.header__logo
		margin-bottom 10px
		
	.header__adress, .header__adress--info
		margin-bottom 10px
	.menu
		
		flex-direction column
		text-align center
		
	.menu__list li
		width 100%
		text-align center