.hero
	background url(../img/hero.png) center no-repeat
	height 627px
	margin-top -29px
	&__desc
		max-width 560px
		font-family 'Gotham Pro'
		color #404040
	&__title
		padding-top 90px
		font-size 46px
		line-height 48px
		position relative
		&:before
			content ''
			background #af8554
			width 220px
			height 3px
			position absolute
			bottom -20px
		&--sub
			font-weight 800
			font-size 44px
			line-height 48px
		& b
			font-weight normal
		&--price
			color #109a8c
			font-size 50px
			font-weight 800
			
	&__text
		color #404040
		font-weight 500
		font-size 28px
		line-height 36px
	&__items
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		margin-bottom 30px
	&__item
		list-style none
		font-family 'Proxima Nova'
		font-weight bold
		font-size 16px
		line-height 16px
		color #404040
		position relative
		margin-bottom 16px
		&:after
			content ' '
			display block
			width 90px
			height 3px
			position relative
			bottom -3px
			left 1px
			background #c5a96f
	&__ico1
		background url(../img/u-item.png) 0px 0px no-repeat
		padding 0px 0px 0px 45px
	&__ico2
		background url(../img/u-item2.png) 0px 2px no-repeat
		padding 0px 0px 0px 45px
	&__ico3
		background url(../img/u-item3.png) 0px 2px no-repeat
		padding 0px 0px 0px 45px

@media (max-width: 760px)
	.hero
		padding-left 10px
		margin-bottom: 205px;
	.hero__btn
		margin-bottom 10px
		text-align center
	.hero__items
		margin-top 80px
		flex-direction column
		justify-content center
	.hero__item
		width 100%