@import normalize
@import font

body 
	font-family 'Proxima Nova', sans-serif
	font-size 16px
	line-height 22px
	background #fff
ul
	margin 0
	list-style none
a
	text-decoration none

.wrapper
	max-width 1170px
	margin 0 auto
	margin-top 7px

@import header
@import hero
@import our-works
@import about
@import form
@import services
@import footer




