@import normalize
@import font

body 
	font-family 'Proxima Nova', sans-serif
	font-size 16px
	line-height 22px
	background #fff
	color #4f5656
ul
	padding 0
	margin 0
	list-style none
a
	text-decoration none
p
	font-weight normal
.wrapper
	max-width 1170px
	margin 0 auto

@import header
@import hero
@import about
@import our-works
@import features
@import form
@import services
@import education
@import footer
@import price
@import sert
@import faq





