.our-works
	margin-bottom 90px
	&__wrapper
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
	&__slider
		width 530px
		height 530px
		margin-right 66px
	&__tab li
		font-family 'Proxima Nova Sm'
		font-size 18px
		margin-bottom 16px
		padding 7px 26px
		border 3px solid #af8554
		text-transform uppercase
		color #af8554
		cursor pointer
		border-radius 4 px
		margin-right 14px
		display inline-block
	&__tab--active
		background #af8554
		color #fff !important
	&__desc
		border 3px solid #af8554
		border-left none
		background url(../img/logo3.png) 420px 60px no-repeat
	&__title
		color #0b998d
		font-size 30px
		line-height 30px
		font-weight normal
		position relative
		padding-top 14px
		&:before
			content: '';
			background: #af8554;
			width: 70px;
			height: 3px;
			position: absolute;
			bottom: -47px;
	&__sub-title
		color #404040
		font-family 'Gotham Pro'
		font-size 44px
		line-height 24px
		padding-top 64px
	&__text
		max-width 470px
		padding-top 12px
		font-style 18px
		line-height 24px




@media (max-width: 760px)
	.our-works__slider
		width 100%
	.our-works
		flex-direction: column;