.price
	font-family 'Gotham Pro'
	&__title
		text-align center
		margin-bottom 60px
		font-size 44px
		line-height 22px
	&__wrapper
		margin 0 100px
	&__item
		background: #f9f9f9
		font-size 18px
		margin-bottom 10px
		padding 20px 30px
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
.gold
	color #c5a96f
	font-weight 500