.services
	text-align center
	&__title--main
		font-size 44px
		line-height 24px
		font-family 'Gotham Pro'
		margin-bottom 75px
		position relative
		&:after
			content ' '
			left 185px
			top 48px
			width 795px
			border 3px solid #af8554
			border-bottom none
			height 48px
			position absolute
	&__items
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		justify-content space-between
		margin 0 100px
		margin-bottom 30px
		box-shadow 0 0 10px rgba(0,0,0,.3)
		position relative
		&:before
			content ' '
			background: #af8554
			width 3px
			height 30px
			left 85px
			position absolute
			bottom -30px
		&:after
			content ' '
			background: #af8554
			width 3px
			height 30px
			right 85px
			position absolute
			bottom -30px
		&:last-child
			margin-bottom 90px
	&__text
		text-align left
		color #404040
		padding-left 100px
	&__title
		font-family 'Gotham Pro'
		font-size 30px
		line-height 24px
		margin-bottom 70px
		margin-top 90px
		position relative
		&:before
			content ' '
			background: #af8554
			width 80px
			height 3px
			position absolute
			bottom -40px
	&__list
		padding-left 18px
		font-size 18px
		font-family 'Proxima Nova Sm'
		list-style none
		& li
			padding-bottom 8px
		& li:before
			content "•"
			color #109a8c
			font-size 24px
			display inline-block
			width 1em
			margin-left -1em
	&__pic
		width 484px
		height 484px
		
.right
	padding-right 100px !important