.services
	&__title--main
		text-align center
		font-size 44px
		line-height 24px
		font-family 'Gotham Pro'
		margin-bottom 90px
		position relative
		&:after
			content ' '
			left 100px
			top 56px
			width 975px
			border 3px solid #af8554
			border-bottom none
			height 56px
			position absolute
	&__items
		box-shadow 0 0 10px rgba(0,0,0,.3)
		position relative
		display -webkit-flex
		display -moz-flex
		display -ms-flex
		display -o-flex
		display flex
		margin-bottom 32px
		&:before
			content ' '
			background: #af8554
			width 3px
			height 30px
			left 98px
			position absolute
			bottom -30px
		&:after
			content ' '
			background: #af8554
			width 3px
			height 30px
			right 100px
			position absolute
			bottom -30px
		&:last-child
			margin-bottom 90px
		&--last:before
			content ' '
			background: #af8554
			width 970px
			height 3px
			right 100px
			position absolute
			bottom -30px
	&__pic
		width 587px
		height 590px
	&__pic--item1
		background url(../img/service1.jpg)
		background-position center
	&__pic--item2
		background url(../img/service2.jpg)
		background-position center
	&__pic--item3
		background url(../img/service3.jpg)
		background-position center
	&__pic--item4
		background url(../img/service4.jpg)
		background-position center
	&__pic--item5
		background url(../img/service5.jpg)
		background-position center
	&__pic--item6
		background url(../img/service6.jpg)
		background-position -237px 0px
	&__pic--item7
		background url(../img/service7.jpg)
		background-position center
	&__text
		color #404040
		width 50%
	&__text--wrapper
		padding 0 0 0 100px
	&__title
		font-family 'Gotham Pro'
		font-size 30px
		line-height 24px
		margin-bottom 70px
		margin-top 90px
		position relative
		&:before
			content ' '
			background: #af8554
			width 75px
			height 3px
			position absolute
			left 8px
			bottom -32px
	&__list
		padding-left 15px
		padding-right 10px
		font-size 18px
		font-family 'Proxima Nova Sm'
		& li
			padding-bottom 8px
			padding-left 20px
			background url(../img/round.png) 0 6px  no-repeat
			

@media (max-width: 760px)
	.services__items
		flex-direction column
	.services__pic
		width 100%
	.services
		&__title--main
			&:after
				display none
	.services__text
		width 100%
	.services__text--wrapper
		padding 10px
	.services__list
		padding-left 15px
		padding-right 15px